.DS_Store
.build
.build-*
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/xcode/

# vscode gitignore
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
